#logo {
  font-family: 'Monoton', cursive;
  color: rgb(230, 35, 201);
  margin-right: 25%;
}

#title{
  font-family: 'Monoton', cursive;
  color: rgb(230, 35, 201)
}

#searchBar {
  margin-left: 150px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(176, 214, 106);
}

.nav-link {
  color: rgb(236, 54, 197);
}

hr {
  margin-right: 10%;
}

#recipeCard {
color: rgb(137, 218, 255);
}

.card-title {
  color: rgb(11, 146, 49)
}

.header {
  color: rgb(230, 35, 201)
}

.card-text {
  color: rgb(1, 0, 1)
}

textArea{
  width: 65%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}